.newsfeed {
  flex: 0.7;
  color: white;
}

.newsfeed__portfolio {
  text-align: left;
}

.newsfeed__portfolio h1 {
  margin: 0;
}

.newsfeed__portfolio p {
  margin-top: 0;
}

.newsfeed__chart {
  width: 100%;
}

.newsfeed__chartSection {
  display: flex;
  flex-direction: column;
}

.newsfeed__buying__section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3b4754;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
  font-size: 12px;
}

.newsfeed__buying__section:hover {
  background-color: #31363a;
}

.newsfeed__market__section {
  margin-top: 60px;
}

.newsfeed__market__box {
  height: 18vh;
  padding: 20px;
  border: 1px solid #31363a;
  border-radius: 4px;
  text-align: left;
}

#buymecoffee {
  margin-top: 20px;
}

a {
  color: #5ac53b;
}

.newsfeed__market__box p {
  color: #78858a;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}
