* {
  color: white;
}
.row {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
}

.row__chart{
  padding : 0 10px;
}

.row:hover {
  background-color: #31363a;
  transform: scale(1.05);
}

.row__intro h1 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
  text-align: left;
}

.row__numbers {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
}

.row__price {
  padding-bottom: 4px;
}

.positive {
  color: #5ac53b;
}

.negative{
  color : red;
}

.row__intro p{
  margin-right : 20px;
  font-size: 8.91px;
}